language: php

php:
  - '7.1'
  - '7.2'
  - '7.3'

install:
  - composer install

script:
  - ./vendor/bin/phpunit
  - ./vendor/bin/psalm --show-info=false

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover ./coverage-clover.xml
