language: php

php:
  - '5.5'
  - '5.6'
  - '7.0'
  - '7.1'
  - nightly

install:
  - composer install

script:
  - ./vendor/bin/phpunit

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover ./clover-coverage.xml
