<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
  <testsuite name="Siler">
    <file>tests/SilerTest.php</file>
    <file>tests/Container/ContainerTest.php</file>
    <file>tests/Http/HttpTest.php</file>
    <file>tests/Route/RouteTest.php</file>
    <file>tests/Dotenv/DotenvTest.php</file>
    <file>tests/Twig/TwigTest.php</file>
  </testsuite>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <file>src/Siler.php</file>
      <file>src/Container/Container.php</file>
      <file>src/Http/Http.php</file>
      <file>src/Route/Route.php</file>
      <file>src/Dotenv/Dotenv.php</file>
      <file>src/Twig/Twig.php</file>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-clover" target="./clover-coverage.xml"/>
  </logging>
</phpunit>
