<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
  <testsuite name="Siler">
    <file>tests/SilerTest.php</file>
    <file>tests/addons/TwigTest.php</file>
    <file>tests/addons/DotenvTest.php</file>
  </testsuite>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <file>siler.php</file>
      <file>twig.php</file>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-clover" target="./clover-coverage.xml"/>
  </logging>
</phpunit>
