<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
  <php>
    <const name="TWIG_TEMPLATES" value="./"/>
    <const name="TWIG_TEMPLATES_CACHE" value="./"/>
  </php>

  <testsuite name="unit">
    <directory>tests</directory>
  </testsuite>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <file>siler.php</file>
      <file>twig.php</file>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-clover" target="./clover-coverage.xml"/>
  </logging>
</phpunit>
