<?xml version="1.0"?>
<psalm
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    totallyTyped="true"
    resolveFromConfigFile="true"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd">

    <projectFiles>
        <directory name="src"/>
        <ignoreFiles>
            <file name="src/GraphQL/BuildSchema.php"/>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>

    <stubs>
        <file name="vendor/swoole/ide-helper/src/swoole/constants.php"/>
        <file name="vendor/swoole/ide-helper/src/swoole/Swoole/Table.php"/>
        <file name="vendor/swoole/ide-helper/src/swoole/Swoole/Server.php"/>
        <file name="vendor/swoole/ide-helper/src/swoole/Swoole/Server/Port.php"/>
        <file name="vendor/swoole/ide-helper/src/swoole/Swoole/Http/Server.php"/>
        <file name="vendor/swoole/ide-helper/src/swoole/Swoole/Http/Request.php"/>
        <file name="vendor/swoole/ide-helper/src/swoole/Swoole/Http/Response.php"/>
        <file name="vendor/swoole/ide-helper/src/swoole/Swoole/Http2/Response.php"/>
        <file name="vendor/swoole/ide-helper/src/swoole/Swoole/WebSocket/Server.php"/>
        <file name="vendor/swoole/ide-helper/src/swoole/Swoole/WebSocket/Frame.php"/>
    </stubs>
</psalm>
